<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685123041084-mi7bhq2rvk46tdbfka5epb1pu6mfqvvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685123041084-mi7bhq2rvk46tdbfka5epb1pu6mfqvvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDzvdVUDpm0JOiTLqlr19EvuSq_a3DGwWw</string>
	<key>GCM_SENDER_ID</key>
	<string>685123041084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.butcherMeatOrdering.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>meat-ordering</string>
	<key>STORAGE_BUCKET</key>
	<string>meat-ordering.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685123041084:ios:5e86a88bca3c36b4e69039</string>
</dict>
</plist>